<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros | Tierra de Libros</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../img/tdl.ico">
    <script src="https://kit.fontawesome.com/69b201213c.js" crossorigin="anonymous"></script>
    <script src="../js/darkmode.js"></script>
</head>
<body>
    <header class="banner">
        <nav>
            <ul class="menu">
                <li><a href="../../index.html"><img src="../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros"></a></li>
                <li class="options"><a href="../../index.html">Categorías</a>
                    <div class="dropdown">
                        <a href="../../index.html#destacados">Destacados</a>
                        <a href="../../index.html#recomendados">Recomendados</a>
                        <a href="../../index.html#novedades">Novedades</a>
                    </div>
                </li>
                <li class="options"><a href="genres.html">Géneros</a>
                    <div class="dropdown">
                        <a href="genres.html#autoayuda">Autoayuda</a>
                        <a href="genres.html#ciencia-ficción">Ciencia ficción</a>
                        <a href="genres.html#fantasía">Fantasía</a>
                        <a href="genres.html#grandes-clásicos">Grandes clásicos</a>
                        <a href="genres.html#novela">Novela</a>
                        <a href="genres.html#terror">Terror</a>
                    </div>
                </li>
                <li class="options"><a href="#">Sobre nosotros</a></li>
                
                <li class="icon"><a href="../../index.html"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a></li>

                <li class="icon"><a href="cart.html"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></li>

				<li class="icon"><a href="profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>

                <li class="icon" id="icon-darkmode-li"><img id="icon-darkmode" src="../img/moon.png"></li>
            </ul>
        </nav>
    </header>

    <main class="main-about">
        <div class="title-about">
            <img src="../img/tierra-de-libros-normal-size.png" alt="Tierra de Libros">
        </div>
        <div class="subtitles-about">
            <h2>¿Quienes somos?</h2>
        </div>
        <div class="p-about">
            <p>
                "Tierra de Libros" es un espacio único que combina la esencia de una tienda de libros con la riqueza de una biblioteca, ofreciendo a los amantes de la lectura una amplia variedad de títulos que abarcan una amplia gama de géneros literarios. Desde novelas y poesía hasta libros de no ficción y literatura infantil, nuestro catálogo satisface los gustos de lectores de todas las edades e intereses.
            </p>
            <p>
                Lo que verdaderamente nos distingue es nuestro firme compromiso con la promoción de la lectura y la construcción de una comunidad apasionada por los libros. Para lograrlo, organizamos una serie de eventos literarios y clubes de lectura que fomentan la interacción entre nuestros miembros y les permiten explorar juntos el mundo de la literatura. Estos encuentros se convierten en espacios de diálogo, aprendizaje y descubrimiento, donde los participantes pueden compartir sus impresiones, reflexiones y perspectivas sobre los libros que han leído.
            </p>
            <p>
                Nuestro propósito principal es nutrir y cultivar el amor por la lectura, así como facilitar el acceso a la riqueza de la cultura literaria a través de una plataforma virtual fácil de usar. Deseamos ser un refugio digital donde las personas puedan encontrar inspiración, conocimiento y entretenimiento gracias a la magia de los libros, sin importar su ubicación geográfica. En "Tierra de Libros", la lectura se convierte en una experiencia enriquecedora que trasciende las páginas de un libro y se convierte en un viaje de autodescubrimiento.
            </p>
            <p>
                Nuestros valores fundamentales incluyen el fomento de la educación y el enriquecimiento cultural. Creemos en la importancia de la lectura como herramienta para el crecimiento personal, la comprensión del mundo y la apertura a nuevas perspectivas. A través de una cuidadosa selección de títulos y recursos, así como una comunidad activa y participativa, "Tierra de Libros" busca ser un faro de conocimiento y exploración literaria en el vasto océano de la información digital.
            </p>
        </div>
    </main>

    <footer id="footer" class="footer">
		<div class="footer-container">
			<div class="footer-row">
				<div class="footer-section">
					<a href="../../index.html"><img src="../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros" id="tierradelibros"></a>
					<ul>
						<li><a href="#"><p>Sobre nosotros</p></a></li>
						<li><a href="#footer"><p>Condiciones de uso</p></a></li>
						<li><a href="#footer"><p>Protección de datos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Soporte</h4>
					<ul>
						<li><a href="#footer"><p>Preguntas frecuentes</p></a></li>
						<li><a href="#footer"><p>Política de privacidad</p></a></li>
						<li><a href="#footer"><p>Contáctanos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Seguinos</h4>
					<div class="social-link">
						<a href="#footer"><i class="fa-brands fa-facebook fa-lg"></i></a>
						<a href="#footer"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-whatsapp fa-lg" style="color: #ffffff;"></i></a>
					</div>
				</div>
				<div class="footer-section">
					<h4>Métodos de pago</h4>
					<img src="../img/metodos-de-pago.png" alt="Métodos de pago" id="metodos">
				</div>
			</div>
			<div class="copyright">
				<h5>Copyright © 2023 TierradeLibros.com</h5>
			</div>
		</div>
	</footer>
</body>
</html>