<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi carrito | Tierra de Libros</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../img/tdl.ico">
    <script src="https://kit.fontawesome.com/69b201213c.js" crossorigin="anonymous"></script>
    <script src="../js/darkmode.js"></script>
</head>
<body>
    <header class="banner">
        <nav>
            <ul class="menu">
                <li><a href="../../index.html"><img src="../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros"></a></li>
                <li class="options"><a href="../../index.html">Categorías</a>
                    <div class="dropdown">
                        <a href="../../index.html#destacados">Destacados</a>
                        <a href="../../index.html#recomendados">Recomendados</a>
                        <a href="../../index.html#novedades">Novedades</a>
                    </div>
                </li>
                <li class="options"><a href="../../index.html">Géneros</a>
                    <div class="dropdown">
                        <a href="genres.html#autoayuda">Autoayuda</a>
                        <a href="genres.html#ciencia-ficción">Ciencia ficción</a>
                        <a href="genres.html#fantasía">Fantasía</a>
                        <a href="genres.html#grandes-clásicos">Grandes clásicos</a>
                        <a href="genres.html#novela">Novela</a>
                        <a href="genres.html#terror">Terror</a>
                    </div>
                </li>
                <li class="options"><a href="about.html">Sobre nosotros</a></li>
                
                <li class="icon"><a href="../../index.html"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a></li>

                <li class="icon"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></li>

				<li class="icon"><a href="profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>

                <li class="icon" id="icon-darkmode-li"><img id="icon-darkmode" src="../img/moon.png"></li>
            </ul>
        </nav>
    </header>

    <main class="main-profile">
        <section id="profile">
            <h1>Mi carrito</h1>
            <h2>Libros</h2>
            <div class="profile-information">
                <div class="profile-data">
                    <h3>Nombre</h3>
                    <p>Ulises</p>
                </div>
                <div class="profile-data">
                    <h3>Apellido</h3>
                    <p>López</p>
                </div>
                <div class="profile-data">
                    <h3>Edad</h3>
                    <p>17 Años</p>
                </div>
                <div class="profile-data">
                    <h3>Email</h3>
                    <p>lulises476@gmail.com</p>
                </div>
                <div class="profile-data">
                    <h3>Género</h3>
                    <p>Hombre</p>
                </div>
                <div class="profile-data">
                    <h3>Fecha de nacimiento</h3>
                    <p>29/06/2006</p>
                </div>
                <div class="profile-data">
                    <h3>Teléfono</h3>
                    <p>+54 11 3250-06XX</p>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer" class="footer">
		<div class="footer-container">
			<div class="footer-row">
				<div class="footer-section">
					<a href="../../index.html"><img src="../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros" id="tierradelibros"></a>
					<ul>
						<li><a href="about.html"><p>Sobre nosotros</p></a></li>
						<li><a href="#footer"><p>Condiciones de uso</p></a></li>
						<li><a href="#footer"><p>Protección de datos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Soporte</h4>
					<ul>
						<li><a href="#footer"><p>Preguntas frecuentes</p></a></li>
						<li><a href="#footer"><p>Política de privacidad</p></a></li>
						<li><a href="#footer"><p>Contáctanos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Seguinos</h4>
					<div class="social-link">
						<a href="#footer"><i class="fa-brands fa-facebook fa-lg"></i></a>
						<a href="#footer"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-whatsapp fa-lg" style="color: #ffffff;"></i></a>
					</div>
				</div>
				<div class="footer-section">
					<h4>Métodos de pago</h4>
					<img src="../img/metodos-de-pago.png" alt="Métodos de pago" id="metodos">
				</div>
			</div>
			<div class="copyright">
				<h5>Copyright © 2023 TierradeLibros.com</h5>
			</div>
		</div>
	</footer>
</body>
</html>