<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Géneros | Tierra de Libros</title>
    <link rel="stylesheet" href="../css/styles.css">
	<link rel="icon" href="../img/tdl.ico">
	<script src="https://kit.fontawesome.com/69b201213c.js" crossorigin="anonymous"></script>
	<script src="../js/darkmode.js"></script>
</head>
<body>
    <header class="banner">
        <nav>
            <ul class="menu">
                <li><a href="../../index.html"><img src="../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros"></a></li>
                <li class="options"><a href="../../index.html">Categorías</a>
                    <div class="dropdown">
                        <a href="../../index.html#destacados">Destacados</a>
                        <a href="../../index.html#recomendados">Recomendados</a>
                        <a href="../../index.html#novedades">Novedades</a>
                    </div>
                </li>
                <li class="options"><a href="#">Géneros</a>
                    <div class="dropdown">
                        <a href="#autoayuda">Autoayuda</a>
                        <a href="#ciencia-ficción">Ciencia ficción</a>
                        <a href="#fantasía">Fantasía</a>
                        <a href="#grandes-clásicos">Grandes clásicos</a>
                        <a href="#novela">Novela</a>
                        <a href="#terror">Terror</a>
                    </div>
                </li>
                <li class="options"><a href="about.html">Sobre nosotros</a></li>
                
				<li class="icon"><a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a></li>

				<li class="icon"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></li>

				<li class="icon"><a href="profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>

				<li class="icon" id="icon-darkmode-li"><img id="icon-darkmode" src="../img/moon.png"></li>
            </ul>
        </nav>
    </header>

	<div class="search-container" id="search-bar">
        <input type="text" id="searchinput" placeholder="Buscar libros, géneros y más...">
		<button id="clearbutton">╳</button>
        <button id="search-button"><i class="fa fa-search"></i></button>
    </div>

	<a href="#whatsapp" id="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>

    <main class="principal">
        <section class="container-products">
			<h2 id="autoayuda">Autoayuda</h2>

			<div class="card-list-products">

				<div class="card">
				<a href="products/este-dolor-no-es-mio.html">
					<div class="card-img">
						<img
							src="../img/este-dolor-no-es-mío.webp"
							alt="Este dolor no es mío"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Este dolor no es mío</h3>
							<p class="category">Autoayuda</p>
						</div>
						<div class="price">$7.570</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/como-emprender-tu-propio-negocio.html">
					<div class="card-img">
						<img
							src="../img/como-emprender-tu-propio-negocio.webp"
							alt="Cómo emprender tu propio negocio"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Cómo emprender tu propio negocio</h3>
							<p class="category">Autoayuda</p>
						</div>
						<div class="price">$24.999</div>
					</div>
				</a>
				</div>

                <div class="card">
				<a href="products/el-fin-de-la-ansiedad.html">	
					<div class="card-img">
						<img
							src="../img/el-fin-de-la-ansiedad.webp"
							alt="El fin de la ansiedad"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El fin de la ansiedad</h3>
							<p class="category">Autoayuda</p>
						</div>
						<div class="price">$15.870</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/como-ganar-amigos-e-influir-sobre-las-personas.html">
					<div class="card-img">
						<img
							src="../img/como-ganar-amigos-e-influir-sobre-las-personas.webp"
							alt="Cómo ganar amigos e influir sobre las personas"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Cómo ganar amigos e influir sobre las personas</h3>
							<p class="category">Autoayuda</p>
						</div>
						<div class="price">$4.680</div>
					</div>
				</a>
				</div>
				
			</div>
		</section>



        <section class="container-products">
			<h2 id="ciencia-ficción">Ciencia Ficción</h2>

			<div class="card-list-products">
				
				<div class="card">
				<a href="products/dune.html">
					<div class="card-img">
						<img
							src="../img/dune.webp"
							alt="Dune"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Dune</h3>
							<p class="category">Ciencia ficción, Novela</p>
						</div>
						<div class="price">$13.999</div>
					</div>
				</a>
				</div>

                <div class="card">
				<a href="products/fahrenheit-451.html">
					<div class="card-img">
						<img
							src="../img/fahrenheit-451.webp"
							alt="Fahrenheit 451"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Fahrenheit 451</h3>
							<p class="category">Ciencia ficción, Novela</p>
						</div>
						<div class="price">$6.999</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/1984.html">	
					<div class="card-img">
						<img
							src="../img/1984.webp"
							alt="1984"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>1984</h3>
							<p class="category">Ciencia ficción</p>
						</div>
						<div class="price">$4.861</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/soy-leyenda.html">	
					<div class="card-img">
						<img
							src="../img/soy-leyenda.webp"
							alt="Soy leyenda"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Soy leyenda</h3>
							<p class="category">Ciencia ficción, Aventura, Drama</p>
						</div>
						<div class="price">$5.899</div>
					</div>
				</a>
				</div>

			</div>
		</section>
        


        <section class="container-products">
			<h2 id="fantasía">Fantasía</h2>

			<div class="card-list-products">

				<div class="card">
				<a href="products/el-pistolero.html">
					<div class="card-img">
						<img
							src="../img/el-pistolero.webp"
							alt="El pistolero (La torre oscura 1)"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El pistolero (La torre oscura 1)</h3>
							<p class="category">Fantasía, Novela, Terror</p>
						</div>
						<div class="price">$6.799</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/el-hobbit.html">	
					<div class="card-img">
						<img
							src="../img/el-hobbit.webp"
							alt="El Hobbit"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El Hobbit</h3>
							<p class="category">Fantasía, Novela, Épico</p>
						</div>
						<div class="price">$7.499</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/neverwhere.html">
					<div class="card-img">
						<img
							src="../img/neverwhere.webp"
							alt="Neverwhere"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Neverwhere</h3>
							<p class="category">Fantasía, Novela, Terror</p>
						</div>
						<div class="price">$10.199</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/fuego-y-sangre.html">
					<div class="card-img">
						<img
							src="../img/fuego-y-sangre.webp"
							alt="Fuego y sangre"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Fuego y sangre</h3>
							<p class="category">Fantasía</p>
						</div>
						<div class="price">$22.599</div>
					</div>
				</a>
				</div>

			</div>
		</section>
        


        <section class="container-products">
			<h2 id="grandes-clásicos">Grandes Clásicos</h2>

			<div class="card-list-products">

				<div class="card">
				<a href="products/iliada.html">
					<div class="card-img">
						<img
							src="../img/iliada.webp"
							alt="Ilíada"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Ilíada</h3>
							<p class="category">Épico, Epopeya, Poesía</p>
						</div>
						<div class="price">$18.799</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/odisea.html">
					<div class="card-img">
						<img
							src="../img/odisea.webp"
							alt="Odisea"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Odisea</h3>
							<p class="category">Épico, Epopeya</p>
						</div>
						<div class="price">$15.299</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/moby-dick.html">	
					<div class="card-img">
						<img
							src="../img/moby-dick.webp"
							alt="Moby Dick"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Moby Dick</h3>
							<p class="category">Épico, Ficción</p>
						</div>
						<div class="price">$12.099</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/mujercitas.html">	
					<div class="card-img">
						
						<img
							src="../img/mujercitas.webp"
							alt="Mujercitas"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Mujercitas</h3>
							<p class="category">Novela, Comedia, Romance</p>
						</div>
						<div class="price">$19.799</div>
					</div>
				</a>
				</div>

			</div>
		</section>



        <section class="container-products">
			<h2 id="novela">Novela</h2>

			<div class="card-list-products">

				<div class="card">
				<a href="products/el-retrato-de-dorian-gray.html">	
					<div class="card-img">
						<img
							src="../img/el-retrato-de-dorian-gray.webp"
							alt="El retrato de Dorian Gray"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El retrato de Dorian Gray</h3>
							<p class="category">Novela, Ficción</p>
						</div>
						<div class="price">$5.999</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/cien-años-de-soledad.html">
					<div class="card-img">
						<img
							src="../img/cien-años-de-soledad.webp"
							alt="Cien años de soledad"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Cien años de soledad</h3>
							<p class="category">Novela, Realismo, Ficción</p>
						</div>
						<div class="price">$9.999</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/el-principito.html">	
					<div class="card-img">
						<img
							src="../img/el-principito.webp"
							alt="El principito"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El principito</h3>
							<p class="category">Novela, Fábula, Ficción</p>
						</div>
						<div class="price">$2.999</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/ulises.html">
					<div class="card-img">
						<img
							src="../img/ulises.webp"
							alt="Ulises"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Ulises</h3>
							<p class="category">Novela, Ficción</p>
						</div>
						<div class="price">$12.999</div>
					</div>
				</a>
				</div>

			</div>
		</section>
        
        
        
        <section class="container-products last-container-products">
			<h2 id="terror">Terror</h2>

			<div class="card-list-products">

				<div class="card">
				<a href="products/holly.html">
					<div class="card-img">
						<img
							src="../img/holly.webp"
							alt="Holly"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Holly</h3>
							<p class="category">Terror, Misterio, Suspenso</p>
						</div>
						<div class="price">$15.999</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/la-llamada-de-cthulhu.html">
					<div class="card-img">
						<img
							src="../img/la-llamada-de-cthulhu.webp"
							alt="La llamada de Cthulhu"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>La llamada de Cthulhu (Y otros cuentos de terror)</h3>
							<p class="category">Terror</p>
						</div>
						<div class="price">$12.099</div>
					</div>
				</a>
				</div>

				<div class="card">
				<a href="products/el-necronomicon.html">	
					<div class="card-img">
						<img
							src="../img/el-necronomicon.webp"
							alt="El Necronomicón"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El Necronomicón</h3>
							<p class="category">Terror, Cuento, Ciencia Ficción</p>
						</div>
						<div class="price">$15.999</div>
					</div>
				</a>
				</div>
				
				<div class="card">
				<a href="products/el-resplandor.html">	
					<div class="card-img">
						<img
							src="../img/el-resplandor.webp"
							alt="El resplandor"
						/>
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>El resplandor</h3>
							<p class="category">Terror, Novela, Ficción</p>
						</div>
						<div class="price">$14.699</div>
					</div>
				</a>
				</div>

			</div>
		</section>
    </main>

	<footer id="footer" class="footer">
		<div class="footer-container">
			<div class="footer-row">
				<div class="footer-section">
					<a href="#"><img src="../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros" id="tierradelibros"></a>
					<ul>
						<li><a href="about.html"><p>Sobre nosotros</p></a></li>
						<li><a href="#footer"><p>Condiciones de uso</p></a></li>
						<li><a href="#footer"><p>Protección de datos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Soporte</h4>
					<ul>
						<li><a href="#footer"><p>Preguntas frecuentes</p></a></li>
						<li><a href="#footer"><p>Política de privacidad</p></a></li>
						<li><a href="#footer"><p>Contáctanos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Seguinos</h4>
					<div class="social-link">
						<a href="#footer"><i class="fa-brands fa-facebook fa-lg"></i></a>
						<a href="#footer"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-whatsapp fa-lg" style="color: #ffffff;"></i></a>
					</div>
				</div>
				<div class="footer-section">
					<h4>Métodos de pago</h4>
					<img src="../img/metodos-de-pago.png" alt="Métodos de pago" id="metodos">
				</div>
			</div>
			<div class="copyright">
				<h5>Copyright © 2023 TierradeLibros.com</h5>
			</div>
		</div>
	</footer>

	<script src="../js/main.js"></script>
</body>
</html>