<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Hobbit | Tierra de Libros</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../img/tdl.ico">
    <script src="https://kit.fontawesome.com/69b201213c.js" crossorigin="anonymous"></script>
    <script src="../../js/darkmode.js"></script>
</head>
<body>
    <header class="banner">
        <nav>
            <ul class="menu">
                <li><a href="../../../index.html"><img src="../../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros"></a></li>
                <li class="options"><a href="../../../index.html">Categorías</a>
                    <div class="dropdown">
                        <a href="../../../index.html#destacados">Destacados</a>
                        <a href="../../../index.html#recomendados">Recomendados</a>
                        <a href="../../../index.html#novedades">Novedades</a>
                    </div>
                </li>
                <li class="options"><a href="../genres.html">Géneros</a>
                    <div class="dropdown">
						<a href="../genres.html#autoayuda">Autoayuda</a>
                        <a href="../genres.html#ciencia-ficción">Ciencia ficción</a>
                        <a href="../genres.html#fantasía">Fantasía</a>
                        <a href="../genres.html#grandes-clásicos">Grandes clásicos</a>
                        <a href="../genres.html#novela">Novela</a>
                        <a href="../genres.html#terror">Terror</a>
                    </div>
                </li>
                <li class="options"><a href="../about.html">Sobre nosotros</a></li>
                
                <li class="icon"><a href="../../../index.html"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a></li>

                <li class="icon"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></li>

				<li class="icon"><a href="../profile.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>
                
                <li class="icon" id="icon-darkmode-li"><img id="icon-darkmode" src="../../img/moon.png"></li>
            </ul>
        </nav>
    </header>

    <div class="container-title">El Hobbit</div>
    <div class="container-author"><p>J. R. R. Tolkien</p></div>

    <main class="producto">
        <div class="container-img">
            <img
                src="../../img/el-hobbit.webp"
                alt="El Hobbit"
            />
        </div>
        <div class="container-info-product">
            <div class="container-price">
                <span>$7.499</span>
            </div>

            <div class="container-details-product">
                <div class="form-group">
                    <label for="idioma">Idioma</label>
                    <select name="idioma" id="idioma">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="español">Español</option>
                        <option value="ingles">Inglés</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editorial">Editorial</label>
                    <select name="editorial" id="editorial">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="librenta">Librenta</option>
                        <option value="tematika">Tematika</option>
                        <option value="cuspide">Cúspide</option>
                    </select>
                </div>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input
                        type="number"
                        placeholder="1"
                        value="1"
                        min="1"
                        class="input-quantity"
                    />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-up" id="flecha-abajo"></i>
                </div>
                <div class="text-description">
                    <p>
                        La historia narra el viaje de un hobbit llamado Bilbo Bolsón (tío de Frodo, uno de los protagonistas principales de El Señor de los Anillos), al que no le gustan las aventuras, a la Montaña Solitaria en busca del tesoro robado por el dragón Smaug años atrás. Todo empieza un inesperado día en el que Bilbo recibe la visita de Gandalf el Gris junto con 13 enanos, entre los que se cuenta a Thorin, Escudo-de-Roble, a cuya familia le fue robado el tesoro. Algunos de los hechos narrados en El Hobbit influirán en los acontecimientos posteriores de El Señor de los Anillos. La inclusión de esta obra en Austral marca un hito en la colección, que abre su catálogo a obras más populares avaladas por cientos de miles de ejemplares vendidos.
                    </p>
                </div>
            </div>

            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Características</h4>
                    <i class="fa-solid fa-chevron-down" id="flecha-abajo"></i>
                </div>
                <div class="text-additional-information hidden">
                    <dl class="información-adicional">
                        <dt>Colección:</dt>
                        <dd>EL SEÑOR DE LOS ANILLOS</dd>
                        <br>
                        <dt>Páginas:</dt>
                        <dd>448</dd>
                        <br>
                        <dt>Edad recomendada:</dt>
                        <dd>A partir de 12 años</dd>
                        <br>
                        <dt>Tipo de tapa:</dt>
                        <dd>Blanda</dd>
                        <br>
                        <dt>Fecha de publicación:</dt>
                        <dd>10/07/2023</dd>
                        <br>
                        <dt>Autor:</dt>
                        <dd>J. R. R. Tolkien</dd>
                    </dl>
                </div>
            </div>

            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer" class="footer">
		<div class="footer-container">
			<div class="footer-row">
				<div class="footer-section">
					<a href="../../../index.html"><img src="../../img/tierra-de-libros-blanco-short.png" alt="Tierra de Libros" id="tierradelibros"></a>
					<ul>
						<li><a href="../about.html"><p>Sobre nosotros</p></a></li>
						<li><a href="#footer"><p>Condiciones de uso</p></a></li>
						<li><a href="#footer"><p>Protección de datos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Soporte</h4>
					<ul>
						<li><a href="#footer"><p>Preguntas frecuentes</p></a></li>
						<li><a href="#footer"><p>Política de privacidad</p></a></li>
						<li><a href="#footer"><p>Contáctanos</p></a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h4>Seguinos</h4>
					<div class="social-link">
						<a href="#footer"><i class="fa-brands fa-facebook fa-lg"></i></a>
						<a href="#footer"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i></a>
						<a href="#footer"><i class="fa-brands fa-tiktok fa-lg" style="color: #ffffff;"></i></a>
					</div>
				</div>
				<div class="footer-section">
					<h4>Métodos de pago</h4>
					<img src="../../img/metodos-de-pago.png" alt="Métodos de pago" id="metodos">
				</div>
			</div>
			<div class="copyright">
				<h5>Copyright © 2023 TierradeLibros.com</h5>
			</div>
		</div>
	</footer>

    <script src="../../js/product.js"></script>
</body>
</html>